@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-interface-areas: rgb(0, 34, 55);
}
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
}
body { 
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: 'Righteous', cursive;
    background-color: lightcyan;
}
/* #header {
    margin-top: 32px;
} */
#wrapper {
    position: relative;
    margin: 64px auto;
    height: 908px;
    width: 1216px;
    font-family: 'VT323', monospace;
    overflow: hidden
}

#screen-start {
    display: ; /* TEMP: */
    position: absolute;
    top: 0;
    left: 0;
    height: 908px;
    width: 1216px;
    background-color: lightblue;
    z-index: 6; 
    /* background: url(/GA-Proj1-Dungeon-fighter/imgs/DF-StartScreen.png);
    background-repeat: no-repeat;
    background-size: contain; */
}
#game-title {
    margin-top: 200px;
    font-size: 120px;
}
#game-tagline {
    margin: 20px auto;
    margin-bottom: 100px;
    font-size: 50px;
    max-width: 800px;
}


/*====         Screens         ====*/
/* #screen-win {
    position: absolute;
    top: 0;
    right: 0;
    height: 1008px;
    width: 1216px;
    z-index: -2;
} */
#screen-lose {
    display: ;
    position: absolute;
    top: 0;
    right: 0;
    height: 1008px;
    width: 1216px;
    color: white;
    font-size: 42px;
    background-color: rgb(32, 88, 132);
    z-index: 0;
}

#screen-lose * {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}


#screen-fight {
    display: ;
    position: absolute;
    top: 0; 
    left: 1216px;
    height: 908px;
    width: 1216px; 
    background: url(/GA-Proj1-Dungeon-fighter/imgs/screen/fightscreen.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: grey;
    z-index: 6;
}

#topBar,
#botBar {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: black;
    z-index: 7;
}

#botBar {
    bottom: 0;
    right: 0;
}

#game {
    position: absolute;
    top: 0;
    right: 0;
    background: url(/GA-Proj1-Dungeon-fighter/imgs/DF-cave.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    z-index: 1;
}


#game-info {
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    height: 125px;
    width: 1191px;
    background-color: var(--color-interface-areas);
    opacity: 0;
    z-index: 8;
}
#game-info p {
    position: absolute;
    top: 17.5px;
    Left: 25px;
    color: white;
    font-size: 28px;
}

#health-outline,
#health-fill {
    position: absolute;
    top: 50px;
    Left: 25px;
    height: 25px;
    width: 200px;
} 
#health-outline{
    border: 2px solid white;
    background-color: black;
}
#health-fill {
    top: 52px;
    left: 27px;
    width: ;
    background-color: red;
}

#game-inventory {
    position: absolute;
    bottom: 12.5px;
    right: 12.5px;
    height: 125px;
    width: 589.25px;
    background-color: var(--color-interface-areas);
    opacity: 0;
    z-index: 8;
}
#fight-btns {
    display: flex;
    position: absolute;
    bottom: 12.5px;
    left: 12.5px;
    height: 125px;
    width: 589.25px;
    user-select: none;
    background-color: var(--color-interface-areas);
    opacity: 0;
    z-index: 8;
}

.fight-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    width: 150px;
    height: 75px;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 48px;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(23, 120, 152);
    z-index: 8;
}
.fight-btn:hover{
    border: 8px solid rgb(8, 44, 152);
}



.startScreen-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: white;
    border: none;
    background-color: rgb(25, 119, 159);
    transition: background-color ease-in-out 500ms;
}

.startScreen-btn:hover {
    background-color: rgb(60, 191, 230);
}
#instructions-btn {
    display: none;
}
#instructions-btn:checked ~ .instructions-btn-label{
    background-color: green;
}